/*
    Preloader styles
*/
.preloader{
    /* position: absolute; */
    top:0;
    left: 0;
    width:100%;
    height: 100%;
    background-color: #eee;
    position: fixed;
    z-index: 99999;
}
.preloader .container {
	height: 100vh;
	width: 100vw;
	font-family: Helvetica;
}

.loader {
	height: 20px;
	width: 250px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.loader--dot {
	animation-name: loader;
	animation-timing-function: ease-in-out;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	height: 20px;
	width: 20px;
	border-radius: 100%;
	background-color: black;
	position: absolute;
	border: 2px solid white;
}

.loader--dot:first-child {
	background-color: #8cc759;
	animation-delay: 0.5s;
}

.loader--dot:nth-child(2) {
	background-color: #8c6daf;
	animation-delay: 0.4s;
}

.loader--dot:nth-child(3) {
	background-color: #ef5d74;
	animation-delay: 0.3s;
}

.loader--dot:nth-child(4) {
	background-color: #f9a74b;
	animation-delay: 0.2s;
}

.loader--dot:nth-child(5) {
	background-color: #60beeb;
	animation-delay: 0.1s;
}

.loader--dot:nth-child(6) {
	background-color: #fbef5a;
	animation-delay: 0s;
}

.loader--text {
	position: absolute;
	top: 200%;
	left: 0;
	right: 0;
	width: 4rem;
	margin: auto;
}

.loader--text:after {
	content: "Загрузка";
	font-weight: bold;
	animation-name: loading-text;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

@keyframes loader {
	15% {
		transform: translateX(0);
	}

	45% {
		transform: translateX(230px);
	}

	65% {
		transform: translateX(230px);
	}

	95% {
		transform: translateX(0);
	}
}

@keyframes loading-text {
	0% {
		content: "Загрузка";
	}

	25% {
		content: "Загрузка.";
	}

	50% {
		content: "Загрузка..";
	}

	75% {
		content: "Загрузка...";
	}
}
/* Main styles */
body{
    box-sizing: content-box;
}
#app{
    display:flex;
    flex-basis: 6;
}
.form-control{
    display: block;
}
.menu img{
    max-width: 130px;
    max-height: 130px;
}
.a4-form{
    max-width:210mm;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width:500px){
    .aside{
        flex-grow: 2;
        padding-bottom:1.5em;
    }
    .content{
        flex-grow: 4;
        padding:3em 1.5em 5em;
    }

}
@media (max-width:499px){
    .aside{
        flex-grow: 6;
        padding-bottom:1.5em;
    }
    .aside>button{
        display: none;
    }
    .content{
        display: none;
    }
}
.content *{
    font-family: 'PT Serif', serif;
}
.content h1{
    font-size: 2rem;
    margin-top:1em;
    margin-bottom:2em;
}
.hidesidebar{
    margin-left: -35%;
}
.cell{
    list-style: none;
}
.aside>button{
    position: absolute;
    background-color:inherit;
    border-top:2px solid #eee;
    border-bottom:2px solid #eee;
    border-right:2px solid #eee;
    border-radius: 0 7px 7px 0;
    right: -2.5em;
    width: 3em;
    height: 3em;
}

#inputForm button{
    margin-left:auto;
    margin-right:auto;
}
.shapka{
    margin-left:45%;
}
.shapka p{
    font-size: 0.75em;
    margin-bottom:.5em;
    margin-top:.5em;
}
.text{
    max-width:100%;
}
.text>p{
    text-indent: 2em;
}
.zagolovok{
    text-align: center;
}

.social-footer img{
    max-width: 100px;
    max-height: 100px;
}
/**/

.menu-hover-lines {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.35s ease;
}

.menu-hover-lines li a {
  padding: 0.75rem 0;
  color: rgba(10, 10, 10, 0.5);
  position: relative;
  margin-left: 1rem;
}

.menu-hover-lines li:first-child a {
  margin-left: 0;
}

.menu-hover-lines li.active > a {
  background-color: transparent;
}

.menu-hover-lines a:before,
.menu-hover-lines a::after {
  height: 3px;
  position: absolute;
  content: '';
  transition: all 0.35s ease;
  width: 0;
}

.menu-hover-lines a::before {
  top: 0;
  left: 0;
}

.menu-hover-lines a::after {
  bottom: 0;
  right: 0;
}

.menu-hover-lines a:hover,
.menu-hover-lines li.active > a {
  color: #0a0a0a;
  transition: all 0.35s ease;
}

.menu-hover-lines a:hover::before,
.menu-hover-lines .active a::before,
.menu-hover-lines a:hover::after,
.menu-hover-lines .active a::after {
  width: 100%;
}

/**/
.menu{
    padding:1em 1em;
    border-bottom:2px solid #eee;
}


/**/

.social-footer {
  padding: 1rem;
  background: #8a8a8a;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-footer .social-footer-icons li:last-of-type {
  margin-right: 0;
}

.social-footer .social-footer-icons .fa {
  font-size: 1.3rem;
  color: #fefefe;
}

.social-footer .social-footer-icons .fa:hover {
  color: #4a4a4a;
  transition: color 0.3s ease-in;
}

/*
Content styles
*/
a{
    color:#333;
}
